body {
    padding: 0;
}

.head-container {
    margin-top: 150px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*
    Colors
*/
.bg-primary {
    background-color: #4e84c4 !important;
}

.bg-secondary {
    background-color: #1C5182 !important;
}
/*
    Header
*/
.header-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

hr.star-light:after {
    background-color: #4e84c4
}

hr.star-dark:after {
    background-color: #ffffff;
    color: #000000;
}

.btn-outline-dark {
    border-color: #000000 !important;
    color: #000000 !important;
}

    .btn-outline-dark:hover {
        background-color: #000000 !important;
        color: #ffffff !important;
    }

.btn-active {
    color: #000000 !important;
}

.btn-contact {
    background-color: #4e84c4 !important;
    border-color: #4e84c4 !important;
    color: #ffffff !important;
}

/*Footer Styling*/
footer {
    background-color: #1C5182;
    padding: 3rem 0;
}

    footer p {
        font-size: 1rem;
        color: white;
    }

    footer h1 {
        font-size: 1.5rem;
        color: white;
    }

.company-information {
    width: 100%;
    max-width: 18rem;
}

.sm-ico {
    display: flex;
}

.sm-container img {
    margin-right: 1rem;
    height: 50px;
    width: 50px;
}

footer iframe {
    border: none;
    width: 20rem;
    height: 16rem;
    margin-left: 7rem;
}

/*End Footer styling*/
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.details-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}