@{
    ViewBag.Title = "Home Page";
}

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto header-image" src="~/img/profile.jpg" alt="">
        <h1 class="mb-0">CeeLearnAndDo</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Wij leveren hoogwaardige diensten op gebied van .NET consultancy.</h2>
      </div>
    </header>